* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #ffffff;
  --surface: #f8f9fa;
  --text-primary: #212529;
  --text-secondary: #6c757d;
  --accent: #4f46e5;
  --border-color: #dee2e6;
}

html,
body,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* This is the key fix for the page scrollbar */
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: var(--text-primary);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
